<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>mybatis_web</display-name>
  	
	<servlet>
		<servlet-name>CommentResultMapOneServlet</servlet-name>
		<servlet-class>ldg.mybatis.controller.CommentResultMapOneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentResultMapOneServlet</servlet-name>
		<url-pattern>/servlet/CommentResultMapOneServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentUpdateServlet</servlet-name>
		<servlet-class>ldg.mybatis.controller.CommentUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentUpdateServlet</servlet-name>
		<url-pattern>/servlet/CommentUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CommentDeleteServlet</servlet-name>
		<servlet-class>ldg.mybatis.controller.CommentDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentDeleteServlet</servlet-name>
		<url-pattern>/servlet/CommentDeleteServlet</url-pattern>
	</servlet-mapping>
	<!-- 
ldg.mybatis.controller.CommentDynamicSqlForeachServlet
ldg.mybatis.controller.CommentDynamicSqlSelectServlet
ldg.mybatis.controller.CommentResultMapAssociationServlet
ldg.mybatis.controller.CommentResultMapCollectionServlet
ldg.mybatis.controller.CommentResultMapConstructorServlet
ldg.mybatis.controller.CommentResultMapDiscriminatorServlet
ldg.mybatis.controller.CommentResultMapOneServlet
ldg.mybatis.controller.CommentInsertServlet
ldg.mybatis.controller.CommentUpdateServlet
ldg.mybatis.controller.CommentDeleteServlet
  	-->
</web-app>