<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ldg.mybatis.repository.mapper.CommentMapper">
	
  <cache />

  <!--select id="selectCommentByPrimaryKey" parameterType="long" resultType="Comment">
    SELECT
	  comment_no,
	  user_id,
	  comment_content,
	  reg_date
	FROM COMMENT
	WHERE comment_no = #{commentNo}
  </select-->
  
  <select id="selectCommentByCondition" parameterType="hashmap" resultType="Comment">
    SELECT
	  comment_no,
	  user_id,
	  comment_content,
	  reg_date
	FROM COMMENT
	<where>
		<if test="commentNo != null">
	    comment_no = #{commentNo}
	  	</if>
	</where>
	<!--trim prefix="WHERE" prefixOverrides="AND | OR">
		<if test="commentNo != null">
	    AND comment_no = #{commentNo}
	  	</if>
		<if test="commentNo != null">
	    AND comment_no = #{commentNo}
	  	</if>
	  	<if test="commentNoForeach != null and commentNoForeach.size() > 0">
	  	AND comment_no IN <foreach collection="commentNoForeach" item="commentNo" index="index" open="(" separator="," close=")">#{commentNo}</foreach>
	  	</if>
	</trim-->	
  </select>

  <insert id="insertComment" parameterType="Comment">
    INSERT INTO COMMENT(comment_no, user_id, comment_content, reg_date)
	VALUES (#{commentNo}, #{userId}, #{commentContent}, #{regDate})
  </insert>
  
  <!--update id="updateComment" parameterType="Comment">
    UPDATE comment
	SET comment_content = #{commentContent}
	WHERE comment_no = #{commentNo};
  </update-->
  
  <delete id="deleteComment" parameterType="long">
    DELETE FROM comment
	WHERE comment_no = #{commentNo}
  </delete>
</mapper>